Assignment 1*.zip
Assignment 2*.zip
__MACOSX/
data_mat1.zip
depth2cloud.zip
*.swp
*.DS_Store
Assignment 1/Data/
*.asv
Assignment 1/SupplementalCode/data_mat1/
Assignment 1/SupplementalCode/depth2cloud/
*.m~
ICP2-Jonas.m
*.png
